// Banter Simulator 2016 CSS File - Adam O'Brien

script
{
    position: absolute;
}

canvas
{
    display: block;
    position: absolute;
    border: 1px solid black;
    margin: auto;
    left: 280px;
    top: 92px;
}

body
{
     background-image: url("images/5011583134810_moss_pp_1.jpg");
     background-repeat: no-repeat;
}